<!DOCTYPE html>
<html lang="en">
{%load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blockchain Client</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/DataTables/css/datatables.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Blockchain Client</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Wallet Generator
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'maketransactions' %}">Make Transaction</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'viewtransactions' %}">View Transactions
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Blockchain Node URL Selector -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="card-body">
            <h4 class="card-title"> Transactions</h4>
            <p class="card-text">Enter a blockchain node URL and click on "View Transactions" button to check all transactions</p>
          </div>

        </div>
      </div>
    </div>

    <div class="container alert alert-secondary">

        <div class="row">
          <label class="col-sm-2">Node URL:</label>
          <div class="col-sm-10">
            <textarea id="node_url" rows="1" class="form-control">http://127.0.0.1:8000</textarea>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg-12 text-center">
            <input type="button" id="get_transactions" class="btn btn-primary btn-lg" value="view Transactions">
                   
          </div>
        </div>

    </div>

    <br>
    <!-- Blockchain Transactions Table -->
    <div class="container">
      <table id="transactions_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
      </table>
    </div>

    <!-- <div class="row">
      <div class="col-lg-12 text-center">
        <input type="button" id="view_transactions" class="btn btn-primary btn-lg" value="View Transactions">
      </div>
    </div>

    <div class="container">
      <table id="transactions_table1" class="table table-striped table-bordered" cellspacing="0" width="100%">
      </table>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <input type="button" id="mine_block" class="btn btn-primary btn-lg" value="transaction enabled">
      </div>
    </div>

    <div class="container">
      <table id="transactions_table2" class="table table-striped table-bordered" cellspacing="0" width="100%">
      </table>
    </div> -->


    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/vendor/DataTables/js/datatables.min.js"></script>
    <script src="/static/vendor/DataTables/js/ellipsis.js"></script>

    <script>

      $(function(){

        
        $('#get_transactions').click(function(){

          $.ajax({
            url: document.getElementById("node_url").value + '/transactions/get/',
            type: 'GET',
            success: function(response){

              console.log(response);  
                        
      
              //Generate Transactions Table
              var transactions = [];
               var count = 1;
               console.log(count)
               console.log(response)
               console.log(response.transactions.length)
               
               for (var i = 0; i < response.transactions.length ; i++) { 
                
                
                  //format date 
                  // var options = {  year: "numeric", month: "short",  day: "numeric", hour: "2-digit", minute: "2-digit", second: "2-digit"  };
                  // var date = new Date(response["chain"][i]["timestamp"] * 1000);
                  // var formattedDateTime = date.toLocaleTimeString("en-us", options);

                  transaction = [count,
                                response.transactions[i].recipient_address,
                                response.transactions[i].sender_address,
                                response.transactions[i].amount,
                                response.transactions[i].currency1,
                                response.transactions[i].currency2,
                                response.transactions[i].amount1,
                           
                                // formattedDateTime,
                                 ];
                  transactions.push(transaction);
                  count += 1;
               }; 
                  
                
                $('#transactions_table').dataTable( {
                  data: transactions,
                  columns: [{ title: "#" },
                            { title: "Recipient Address"},
                            { title: "Sender Address"},
                            { title: "amount"},
                            { title: "currency1"},
                            { title: "currency2"},
                            { title: "amount1"},                        
                            // { title: "Timestamp"},
                             ],
                  columnDefs: [ {targets: [1,2,3,4,5], render: $.fn.dataTable.render.ellipsis( 25 )}]
                } ); 
              },

              
error: function(error){
  console.log(error);
}
});
});


})
   
</script>

    <!-- <script>

      $(function(){

        
        $('#view_transactions').click(function(){

          $.ajax({
            url: document.getElementById("node_url").value + "/chain",
            type: 'GET',
            success: function(response){

              console.log(response);  
                        
      
              //Generate Transactions Table
              var transactions = [];
               var count = 1;
               console.log(count)
               console.log(response.chain.length)
               
               
               
              for (var i = 0; i < response.chain.length ; i++) { 
                for (j = 0; j < response.chain[i].transactions.length; j++){
                
                
                  //format date 
                  // var options = {  year: "numeric", month: "short",  day: "numeric", hour: "2-digit", minute: "2-digit", second: "2-digit"  };
                  // var date = new Date(response["chain"][i]["timestamp"] * 1000);
                  // var formattedDateTime = date.toLocaleTimeString("en-us", options);

                  transaction = [count,
                                response.chain[i].transactions[j].recipient_address,
                                response.chain[i].transactions[j].sender_address,
                                response.chain[i].transactions[j].amount,
                                response.chain[i].transactions[j].currency1,
                                response.chain[i].transactions[j].currency2,
                                response.chain[i].transactions[j].amount1,
                           
                                // formattedDateTime,
                                 ];
                  transactions.push(transaction);

                  count += 1;
                };
            };
            

              // Restrict a column to 10 characters, do split words
                $('#transactions_table1').dataTable( {
                  data: transactions,
                  columns: [{ title: "#" },
                            { title: "Recipient Address"},
                            { title: "Sender Address"},
                            { title: "amount"},
                            { title: "currency1"},
                            { title: "currency2"},
                            { title: "amount1"},                        
                            // { title: "Timestamp"},
                             ],
                  columnDefs: [ {targets: [1,2,3,4,5], render: $.fn.dataTable.render.ellipsis( 25 )}]
                } );
              },

              
            error: function(error){
              console.log(error);
            }
          });
        });


      })




    </script>


  
  <br>



   Bootstrap core JavaScript 
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/static/vendor/DataTables/js/datatables.min.js"></script>
  <script src="/static/vendor/DataTables/js/ellipsis.js"></script>


  <script>

    $(function(){

      
      $('#mine_block').click(function(){

        $.ajax({
          url: document.getElementById("node_url").value + "/mine",
          type: 'GET',
          success: function(response){

            console.log(response);  
              
            //Generate Transactions Table
            var transactions = [];
             var count = 1;
             console.log(count)
             console.log(response.transactions.length)
             
             
            for (var i = 0; i < response.transactions.length ; i++) { 
              
              // for (j = 0; j < response.message.length; j++) {

                //format date 
                // var options = {  year: "numeric", month: "short",  day: "numeric", hour: "2-digit", minute: "2-digit", second: "2-digit"  };
                // var date = new Date(response["chain"][i]["timestamp"] * 1000);
                // var formattedDateTime = date.toLocaleTimeString("en-us", options);

                transaction = [count,
                              response.transactions[i].recipient_address,
                              response.transactions[i].sender_address,
                              response.transactions[i].amount,
                              response.transactions[i].currency1,
                              response.transactions[i].currency2,
                              response.transactions[i].amount1,
                         
                              // formattedDateTime,
                               ];
                transactions.push(transaction);

                count += 1;
              };
          

            // Restrict a column to 10 characters, do split words
              $('#transactions_table2').dataTable( {
                data: transactions,
                columns: [{ title: "#" },
                          { title: "Recipient Address"},
                          { title: "Sender Address"},
                          { title: "amount"},
                          { title: "currency1"},
                          { title: "currency2"},
                          { title: "amount1"},                        
                          // { title: "Timestamp"},
                           ],
                columnDefs: [ {targets: [1,2,3,4,5], render: $.fn.dataTable.render.ellipsis( 25 )}]
              } );

          },
          error: function(error){
            console.log(error);
          }
        });
      });


    })

 </script> -->
</body>

</html>